<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>image0</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>如果有一天，我变得很有钱，我的第一选择，不是去环游世界</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image1</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>躺在世界上最大最软的沙发里，吃了就睡，醒了再吃，先过一年</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image2</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>如果有一天我变得很有钱，我就可以把所与人都留在我身边</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image3</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>每天快快乐乐吃吃喝喝聊聊天，不用担心关于明天和离别</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image4</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>变有钱，变有钱，多少人没日没夜的浪费时间</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image5</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>变有钱，我变有钱，然后故作谦虚的说金钱不是一切</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image6</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>变有钱，我变有钱，所有烦恼都被留在天边</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image7</string>
		<key>title</key>
		<string>变有钱</string>
		<key>content</key>
		<string>变有钱，我变有钱，然后发自内心的说它金钱不是一切</string>
	</dict>
	<dict>
		<key>img</key>
		<string>image8</string>
		<key>title</key>
		<string>新年快乐</string>
		<key>content</key>
		<string>祝大家新年变有钱</string>
	</dict>
</array>
</plist>
